<%- include('layout', { body: `
    <h1>Reset Password</h1>
    <form action="/reset-password" method="POST">
        <input type="password" name="newPassword" placeholder="New Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Reset Password</button>
    </form>
    <div class="form-links">
        <a href="/signin">Remembered your password? Sign In</a>
        <a href="/signup">Don't have an account? Sign Up</a>
    </div>
` }) %>
